# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Output files
*.hex
*.lss
*.lst
*.map
*.elf
*.bin
*.eep
*.dep
*.sym
trunk/source/obj
src/obj
src/hr20.txt
rfm-master/obj
rfm-master/master.txt
.DS_Store
bin/
*.gch
